{% extends 'base.html.twig' %}

{% block title %}Ona.ve{% endblock %}

{% block stylesheets %}
    {{ encore_entry_link_tags('app_home_index') }}
{% endblock %}

{% block javascripts %}
    {{ encore_entry_script_tags('app_home_index') }}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row pb-5">
            <div class="col-lg-6" style="padding-top: 10ex;">
                <h1 style="font-weight: 600; font-size: 400%">Poišči<br> strokovnjakinjo</h1>
                <br>
                <h3 class="fst-italic mt-5">ONAVE - mreža strokovnjakinj Slovenije</h3>

                <div class="input-group widebar input-group-lg pt-5">
                    <input type="text" style="border-radius: 0;height: 10ex" class="form-control"
                           placeholder="Išči po ključnih besedah" aria-label="search">
                    <div class="input-group-append">
                        <button class="btn btn-primary btn-lg" style="border-radius: 0; height: 10ex; width: 10ex;"
                                type="button">
                            <i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>


            </div>
            <div class="col-lg-6 text-center">
                <img style="padding-top: 5ex; height: 75vh; " alt="img"
                     src="{{ asset('images/strokovnjakinja.jpg') }}">
            </div>
        </div>

        <div class="row mt-5">
            <div id="o-projektu" class="col-lg-12">
                <h1>O projektu </h1>
                <div class="line1"></div>
                <div class="line2"></div>
            </div>

            <div class="col-lg-12  mt-5">
                <h3>
                    SLOVENSKE STROKOVNJAKINJE
                </h3>
            </div>
            <div class="col-lg-8 mt-3">
                <p>Iščete strokovnjakinjo, pa ne veste zanjo, je ne najdete oziroma niti ne veste, kje bi jo sploh
                    iskali?
                </p>
                <p>Pa vendar nas je veliko v Sloveniji in v tujini – vrhunskih znanstvenic, zdravnic, virologinj,
                    umetnic, komunikologinj, sociologinj, filozofinj, politologinj, gasilk, kuharic, pravnic, pesnic in
                    pisateljic, strokovnjakinj za digitalizacijo in mnogo drugih.
                </p>
                <p>Na naši strani lahko najdete strokovnjakinjo – za različne nastope v medijih, udeležbo na
                    konferencah, panelih oziroma na javnih dogodkih in prireditvah.
                </p>
                <p>Še več: kot strokovnjakinja si ustvarite svoj profil, da vas bodo iskalci lažje našli.
                </p>
                <p>Da ne bomo več poslušali: »Saj smo iskali, a strokovnjakinje nismo našli.«
                </p>
            </div>
            <div class="col-lg-4 mt-3 text-center">
                <button class="btn btn-outline-text btn-lg" style="border-radius: 0; ">Preberi
                    več
                </button>
            </div>

        </div>
        <div class="row " style="margin-top: 100px;">
            <div id="dogodki" class="col-lg-12">
                <h1>Dogodki </h1>
                <div class="line1"></div>
                <div class="line2"></div>
            </div>

            <div class="col-lg-4 mt-5">
                <div class="card" style="width: 80%;">
                    <img class="card-img-top" style="width: auto; height: 200px;"
                         src="{{ asset('images/vile.png') }}"
                         alt="Card image vile">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmo...</p>
                        <span class="mt-1">5 min read</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-5">
                <div class="card" style="width: 80%;">
                    <img class="card-img-top" style="width: auto; height: 200px;"
                         src="{{ asset('images/present.png') }}"
                         alt="Card image presenting">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmo...</p>
                        <span class="mt-1">3 min read</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-4 mt-5">
                <div class="card" style="width: 80%;">
                    <img class="card-img-top" style="width: auto; height: 200px;"
                         src="{{ asset('images/rocket.png') }}"
                         alt="Card image rocket">
                    <div class="card-body">
                        <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do
                            eiusmo...</p>
                        <span class="mt-1">4 min read</span>
                    </div>
                </div>
            </div>

            <div class="col-lg-12" style="height: 10vh;">
                &nbsp;
            </div>
        </div>

    </div>
{% endblock %}

{% block footerContent %}
    <div class="row pt-3">
        <div class="input-group mx-auto mailing_list_subscription" style="width: 80%;">
            {{ form(form) }}
        </div>
    </div>
{% endblock %}
