{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block stylesheets %}
    <link href="{{ asset('bundles/craueformflow/css/buttons.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <h1>Register</h1>
    {% include '@CraueFormFlow/FormFlow/stepList.html.twig' %}
    {{ form_start(registrationForm) }}
    {{ form_errors(registrationForm) }}

    {{ form_rest(registrationForm) }}

    {% include '@CraueFormFlow/FormFlow/buttons.html.twig' %}
    {{ form_end(registrationForm) }}
{% endblock %}
