<nav class="navbar sticky-top navbar-expand-lg navbar-light bg-navbar">
    <div class="container-fluid">
        <img alt="" src="{{ asset('images/onavelogo.png') }}" class="navbar-brand"
             style="height: 100px; padding-left: 10px; width: auto;">
        <button class="navbar-toggler" style="margin-right: 10px;" type="button" data-toggle="collapse"
                data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="content collapse navbar-collapse " id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item my-2 mx-3">
                    <a class="nav-link" href="{{ path('app_home_index') }}">Domov</a>
                </li>
                <li class="nav-item my-2 mx-3">
                    <a class="nav-link" href="{{ path('app_home_index') }}#o-projektu">O projektu</a>
                </li>
                <li class="nav-item my-2 mx-3">
                    <a class="nav-link" href="{{ path('app_home_index') }}#dogodki">Dogodki</a>
                </li>
                <li class="nav-item my-2 mx-3">
                    <a class="nav-link" href="{{ path('app_home_comingsoon') }}">Kontakt</a>
                </li>
                <li class="nav-item my-2 mx-3">
                    <a class="nav-link" href="{{ path('app_home_comingsoon') }}">Želimo 50%!</a>
                </li>
                <li class="nav-item my-2 mx-3">
                    <a class="nav-link" href="{{ path('app_home_comingsoon') }}">Ona pravi</a>
                </li>
                <li class="nav-item my-2 mx-3">
                    <a class="nav-link" href="{{ path('app_home_comingsoon') }}">Prijava</a>
                </li>
                <li class="nav-item mx-3" style="align-content: center;">
                    <a class="nav-link" href="{{ path('app_register') }}">
                        <button class="btn btn-primary btn-lg" style="border-radius: 0">
                            Pridruži se
                        </button>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
